.header {
    background-image: url(./img/hero4.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 4% right 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 80px;
}

.header button {
    background-image: url(./img/button.png);
    border: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 14px 80px 14px 65px;
    color: #088178;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}